<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'/>
		<meta name='viewport' id='viewport' content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no'/>
		<meta name="description" content="A tool for searching on-readings and kun-readings for kanji characters."/>
		<link rel="icon" type="image/png" href="favicon.png"/>
		<style type='text/css'><%=require('./index.less').default%></style>
		<title></title>
	</head>
	<body>
		<div class='container-main'>
			<input type='text' id='kanji_search' autofocus='autofocus'/>
		</div>
		<div id='search_result'><p id='loading_text'></p></div>
		<script><%=compilation.assets['preload.min.js'].source()%></script>
		<script src='index.min.js' defer='defer'></script>
	</body>
</html>
